form{
    text-align: center;
    width: 35%;
    border: 5px solid black;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 15%;
    padding:50px 70px;
    font-size: 28px;
    background-color: burlywood;
}
input{
    width: 140px;
    font-size: 28px;
   
}
.result{
    width: 90%;
    margin: 16px; 
    margin-top: 30px;

}
button{
    width: 150px;
    height: 35px;
    font-size: 18px;
    margin: 18px;
    border-radius: 20px;
    cursor: pointer;
}
button:hover{
    background-color: bisque;
    transition: 0.9s;
    transform: translateY(-7px);
}